# Core
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1

# Database
psycopg2-binary
SQLAlchemy==2.0.36

# Auth & Security
bcrypt==4.2.0
python-dotenv==1.0.1

# Image Processing & EXIF
Pillow>=11.0.0
opencv-python-headless==4.10.0.84

# ML / YOLO
ultralytics>=8.3.0

# Utilities
gunicorn==23.0.0
